include README.md
include CHANGE_LOG.md
include LICENSE
recursive-include schemas *.csv
recursive-include tests/fixtures *.html
recursive-include tests/fixtures *.csv
recursive-include examples *.yaml
recursive-include scripts *.cmd
recursive-include scripts *.ps1
